<h1><?php echo $<[singular]>; ?></h1>
<ul id="actions">
	<li><?php echo link_to('Edit', edit_<[singular]>_uri($<[singular]>)); ?></li>
	<li><?php echo link_to('Delete', delete_<[singular]>_uri($<[singular]>)); ?></li>
</ul>
<?php partial('dl', array('<[singular]>' => $<[singular]>)); ?>