<?php
return array(
	'cache_for' => 0,
	'default_app' => '<[default_app]>',
	'default_controller' => '<[default_controller]>',
	'default_action' => '<[default_action]>',
	//'db_driver' => '',
	//'db_host' => '',
	//'db_username' => '',
	//'db_password' => '',
	//'db' => '',
);
?>