<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><[layout]></title>
	<meta name="description" content="***************************" />
	<meta http-equiv="Content-Language" content="en-gb" />
	<link href="/favicon.ico" rel="shortcut icon" />
	<link href="/css/project.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/css/<[layout]>.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="/js/project.js"></script>
	<script type="text/javascript" src="/js/<[layout]>.js"></script>
</head>
<body>
<?php if (moojon_flash::has('notification')) { ?>
	<p class="flash"><?php echo moojon_flash::get('notification'); ?></p>
<?php } ?>
YIELD
</body>
</html>