/*-------------------------*//* global layout styles *//*---------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

#container{
	width:960px;
	margin:0 auto;
}

/*header*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

#header{

}

#header #logo {
	float:left;
}  

/*navigation*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

#nav {
	margin: 20px 0;
	clear: both;
	zoom: 1;
}
#nav:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }

#nav ul{
	margin:0;
	list-style:none;
}

#nav li{
	float:left;
	margin:0 10px 0 0;
}

#nav a, #nav span{

}

#nav a:focus, #nav a:focus span, #nav a:hover, #nav a:hover span{

}


/*sub navigation*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
	
#nav_sub{
	
}
	
/*content*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

#content{
	clear: both;
}

#content_main{
	float: left;
	width: 640px;
	margin-right: 20px;
}
 
#content_sub{
	float: left;
	width: 300px;
}
       
/*footer*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

#footer{
	clear: both;
}

#footer ul{
	margin:0;
	list-style: none;
}

#footer li{
	float:left;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid;
}

#footer li#kyan{
	border-right: 0;
}

#debug {
	background-color:#FFFFCC;
	position:absolute;
	top:5px;
	right:5px;
	width:250px;
	border:1px solid #000;
	padding:10px;
}