*{
	margin:0;
	padding:0;
}

html{
	font-size:100%;
}

body{
	font:.75em Arial,Helvetica,sans-serif;
	color:#000;
}

h1,h2,h3,h4,h5{
	margin:0 0 10px;
}

h1{
	
}

h2{

}

h3{
	
}

h4{
	
}

h5{
	
}

p{
	margin:0 0 10px;
}

address{
	font-style:normal;
	margin:0 0 10px;
}

blockquote{
	
}

cite{
	
}

ol,ul{
	margin:0 0 10px 30px;
}

dl{
	
}

dt{
	clear:left;
	float:left;
	width:10em;
}

dd{

}

a{
	text-decoration:none;
}

a:focus,a:hover{
	text-decoration:underline;
}

a img{
	border:0;
}

#skiplinks{
	margin:0;
	list-style:none;
}

#skiplinks a{
	border:1px solid #665;
	background:#FFF;
	padding:7px 5px;
	position:absolute;
	top:10px;
	left:-9999px;
	font-size:1.3em;
	font-weight:bold;
	z-index:10;
}

#skiplinks a:focus,#skiplinks a:active{
	left:20px;
	text-decoration:none;
	border-color:#666;
}

.replace{
	position:relative;
	overflow:hidden;
}

.replace span{
	display:block;
	position:absolute;
	top:0;
	left:0;
}

a.replace span{
	cursor:pointer;
}

.flash-replaced .alt{
	display:block;
	width:0;
	height:0;
	position:absolute;
	overflow:hidden;
}

.dotrule{
	height:1px;
	font-size:1px;
	background:url(/images/dot.gif) repeat-x;
	clear:both;
	margin:5px 0;
}

.dotrule hr{
	display:none;
}

.right{
	float:right;
}

.left{
	float:left;
}

.thumb{
	border:1px solid #999;
	padding:1px;
}

.thumb.left{
	margin:0 15px 15px 0;
}

.thumb.right{
	margin:0 0 15px 15px;
}

.clear{
	clear:both;
}

.intro{
	font-weight:bold;
}







#container{
	width:960px;
	margin:0 auto;
}

#header{

}

#header #logo{
	float:left;
}

#nav{
	margin:20px 0;
	clear:both;
	zoom:1;
}

#nav:after{
	content:"."; clear:both; display:block; height:0; visibility:hidden;
}

#nav ul{
	margin:0;
	list-style:none;
}

#nav li{
	float:left;
	margin:0 10px 0 0;
}

#nav a,#nav span{

}

#nav a:focus,#nav a:focus span,#nav a:hover,#nav a:hover span{

}

#nav_sub{
	
}

#content{
	clear:both;
}

#content_main{
	float:left;
	width:640px;
	margin-right:20px;
}
 
#content_sub{
	float:left;
	width:300px;
}
 
#footer{
	clear:both;
}

#footer ul{
	margin:0;
	list-style:none;
}

#footer li{
	float:left;
	margin-right:5px;
	padding-right:5px;
	border-right:1px solid;
}

#footer li#kyan{
	border-right:0;
}

#debug{
	background-color:#FFC;
	position:absolute;
	top:5px;
	right:5px;
	width:250px;
	border:1px solid #000;
	padding:10px;
}

form{

}

fieldset{

}

legend{

}

input.text,textarea,select{
	padding:2px;
	width:200px;
	margin:0 0 5px;
	font-family:Arial,Helvetica,sans-serif;
}

textarea{
	height:5em;
}

select{
	width:208px;
}

label{
	display:block;
	margin:0 0 3px;
}

.submit{
	
}

.radio{

}