<h1>New <[human]></h1>

<div id="content_main">

<ul>
	<li><?php echo link_to('<[Humans]>', <[plural]>_uri()); ?></li>
</ul>

<?php
partial('form', array('<[singular]>' => $<[singular]>));
?>

</div><!-- /content_main -->

<div id="content_sub">



</div><!-- /content_sub -->