/*-------------------------*//*global form styles*//*-------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

/* define global form elements*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
form{

}

fieldset{

}

legend{

}

input.text, textarea, select {
	padding:2px;
	width:200px;
	margin:0 0 5px;
	font-family: Arial,Helvetica,sans-serif;
}

textarea{
	height:5em;
}
	
select{
	width:208px;
}

label{
	display:block;
	margin:0 0 3px;
}

.submit {
	
}

.radio{

}