*{
	margin:0;
	padding:0;
}

html{
	height:100%;
}

body{
	background-color:#CCC;
	color:#333;
	font:normal 62.5%/1 arial,helvetica,sans-serif;
	height:100%;
}

h1, h2{
	color:#000;
	font-weight:normal;
	margin:0 0 10px;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
}

ul{
	margin:0 0 10px;
}

ol{
	margin:0 0 10px 16px;
}

li{
	font-size:1.1em;
	line-height:1.4;
}

ul li{
	list-style:none;
}

dl{
	margin:0 0 10px;
}

dt{
	font-weight:bold;
}

dt, dd{
	margin:0 0 10px;
}

dl.errors{
	background-color:#FFC;
	border:1px #900 solid;
	padding:10px 10px 0;
}

dl.errors dt{
	color:#900;
}

dl.errors dd label{
	color:#900;
	font-weight:normal;
}

p{
	margin:0 0 10px;
}

p.flash{
	background-color:#CF9;
	border:1px solid #693;
	color:#693;
	font-weight:bold;
	padding:10px;
}

table{
	width:100%;
}

thead tr{
	background-color:#333;
}

th{
	color:#FFF;
	padding:3px;
	text-align:left;
}

td{
	padding:3px;
}

tr.row0{
	background-color:#EEE;
}

form{
	
}

fieldset{
	background-color:#EEE;
	border:1px solid #CCC;
	margin:0 0 10px;
	padding:10px 10px 0;
}

label{
	color:#333;
	display:block;
	font-weight:bold;
	margin:0 0 5px;
}

fieldset select, fieldset textarea, fieldset input{
	width:250px;
}

.date label, .datetime label, .time label, .date select, .datetime select, .time select{
	display:inline;
	width:auto;
	margin:0 5px 10px 0;
}

select, textarea, input{
	border:1px solid #333;
	display:block;
	margin:0 0 10px;
	padding:3px;
}

#container{
	background-color:#FFF;
	height: 100%;
	margin:0 auto;
	width:760px;
}

#header{
	margin:0 0 10px;
	padding:20px 20px 0;
}

#nav{
	padding:0 20px;
}

#nav li{
	display:inline;
	margin:0 5px 0 0;
}

#actions{
	
}

#actions li{
	display:inline;
	margin:0 5px 0 0;
}

#content{
	margin:10px 0;
	padding:20px;
}

table.generated img{
	width:50px;
}

dl.generated img{
	width:75px;
}

form.generated img{
	width:75px;
}