/*-------------------------*//* print stylesheet *//*---------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

body {
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
}

h1{
	font-size:16pt;
}

h2{
	font-size:15pt;
}

h3{
	font-size:14pt;
}

h4{
	font-size:13pt;
}

h5{
	font-size:12pt;
}

h6{
	font-size:11pt;
}
	
/*link specific styles*/
/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

a {
	color:#666;
	background:transparent;
	font-weight:bold;
	text-decoration:none;
}

#content a {
	content:" ("attr(href)")";
}
	
/*content specific styles*/
/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#container, #content{
	width:auto;
	border:0;
	margin:0;
	padding:0;
	float:none!important;
	color:black; 
	background:transparent;
}

div#content{
	margin-left:2%;
}
	
/*hidden page sections */
/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/
	
.skip, #nav, #nav_sub, #footer dd, #footer a {
	display:none;
}
	
/*footer specific styles*/
/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#footer{
	font-size:9pt;
	margin:20px 0 0;
}