<?php
if (count($<[plural]>) > 0) {
	$columns = $<[plural]>->first->get_editable_column_names();
} else {
	$columns = array();
}
$table = new moojon_model_table($<[plural]>, 'No <[plural]> available.', $columns);
echo $table->render();
?>