<h1>Destroy <[human]></h1>

<div id="content_main">

<ul>
	<li><?php echo link_to('Read', 'read/id/'.moojon_uri::get('id'), <[controller]>, <[app]>); ?></li>
	<li><?php echo link_to('Update', 'update/id/'.moojon_uri::get('id'), <[controller]>, <[app]>); ?></li>
</ul>

<h2><?php echo $<[singular]>; ?></h2>

<?php
partial('destroy_form', array('<[singular]>' => $<[singular]>));
?>

</div><!-- /content_main -->

<div id="content_sub">



</div><!-- /content_sub -->