<h1>Destroy <[singular]></h1>

<div id="content_main">

<h2><?php echo $<[singular]>; ?></h2>

<?php
partial('destroy_form', array('<[singular]>' => $<[singular]>));
?>

</div><!-- /content_main -->

<div id="content_sub">



</div><!-- /content_sub -->