<h1><[Plural]></h1>

<div id="content_main">

<ul>
	<li><?php echo link_to('Create', 'create/id/'.moojon_uri::get('id'), <[controller]>, <[app]>); ?></li>
</ul>

<?php
partial('table', array('<[plural]>' => $<[plural]>));
?>

</div><!-- /content_main -->

<div id="content_sub">



</div><!-- /content_sub -->