<h1>Update <[singular]></h1>

<div id="content_main">

<?php
partial('form', array('<[singular]>' => $<[singular]>));
?>

</div><!-- /content_main -->

<div id="content_sub">



</div><!-- /content_sub -->