#!/Applications/MAMP/bin/php5/bin/php
<?php
define('UI', 'CLI');
define('CLI', 'moojon_migrate_cli');
define('PROJECT_DIRECTORY', $_SERVER['PWD'].'/'.dirname($_SERVER['PHP_SELF']).'/../');
require_once(PROJECT_DIRECTORY.'config/constants.php');
require_once(MOOJON_DIRECTORY.'moojon.php');
?>