<?php echo rest_breadcrumb(); ?>
<h1>Delete <[human]></h1>
<?php echo rest_actions($<[singular]>); ?>
<div class="hrule"></div>
<div id="content_main">
	<h2><?php echo $<[singular]>; ?></h2>
	<?php echo delete_form_for($<[singular]>); ?>
</div>