<?php echo rest_breadcrumb(); ?>
<h1><[Humans]></h1>
<?php echo rest_actions(moojon_base_model::factory('<[singular]>')); ?>
<div class="hrule"></div>
<div id="content_main">
	<?php echo table_for($<[plural]>); ?>
</div>