<h1>New <[human]></h1>
<ul class="actions">
	<li><?php echo a_tag('<[Humans]>', <[plural]>_uri()); ?></li>
</ul>
<div class="hrule"></div>
<div id="content_main">
	<?php partial('form', array('<[singular]>' => $<[singular]>)); ?>
</div>