<?php echo rest_breadcrumb(); ?>
<h1>New <[human]></h1>
<?php echo rest_actions($<[singular]>); ?>
<div class="hrule"></div>
<div id="content_main">
	<?php partial('form', array('<[singular]>' => $<[singular]>)); ?>
</div>