<h1><[Human]></h1>
<?php echo rest_actions($<[singular]>); ?>
<div class="hrule"></div>
<div id="content_main">
	<h2><?php echo $<[singular]>; ?></h2>
	<?php
	echo dl_for($<[singular]>);
	echo relationship_tables($<[singular]>);
	?>
</div>